header.container {
  padding-bottom: 0px;
}
main.container {
  padding-top: 0px;
}
article.register {
  margin-left: 150px;
  margin-right: 150px;
}
article.search {
  padding: 30px;
  margin: 30px;
}
footer.container {
  padding: 40px;
}